html, body {
    height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
	font-family: 'Quicksand', sans-serif;
}

:root {
	--orange-1: #bc642d;
}

.templateBody {
    height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

.centerContent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.chevronSizing {
	font-size: .8em;
}

.standardGrid {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template: repeat(10, 1fr) / repeat(6, 1fr);
}

.mainArrow {
	color: var(--orange-1);
}

.bottonNavButton {
	display: flex;
	align-items: center;
	font-size: 4em;
	text-align: center;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.bottonNavButton:active {
	background-color: #bababa;
}
